<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.system.mapper.BorrowMapper">
    
    <resultMap type="Borrow" id="BorrowResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="createdAt"    column="created_at"    />
        <result property="returnAt"    column="return_at"    />
        <result property="examineAt"    column="examine_at"    />
        <result property="sysUserId"    column="sys_user_id"    />
        <result property="sysUserName"    column="sys_user_name"    />
        <result property="flag"    column="flag"    />
        <result property="examineFlag"    column="examine_flag"    />
        <result property="urgeReturn"    column="urge_return"    />
        <result property="realReturnAt"    column="real_return_at"    />
    </resultMap>

    <sql id="selectBorrowVo">
        select id, user_id, user_name, equipment_id, equipment_name, created_at, return_at, examine_at, sys_user_id, sys_user_name, flag, examine_flag, urge_return, real_return_at from borrow
    </sql>

    <select id="selectBorrowList" parameterType="Borrow" resultMap="BorrowResult">
        <include refid="selectBorrowVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="equipmentId != null "> and equipment_id = #{equipmentId}</if>
            <if test="equipmentName != null  and equipmentName != ''"> and equipment_name like concat('%', #{equipmentName}, '%')</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="returnAt != null "> and return_at = #{returnAt}</if>
            <if test="examineAt != null "> and examine_at = #{examineAt}</if>
            <if test="sysUserId != null "> and sys_user_id = #{sysUserId}</if>
            <if test="sysUserName != null  and sysUserName != ''"> and sys_user_name like concat('%', #{sysUserName}, '%')</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="examineFlag != null "> and examine_flag = #{examineFlag}</if>
            <if test="urgeReturn != null "> and urge_return = #{urgeReturn}</if>
            <if test="realReturnAt != null "> and real_return_at = #{realReturnAt}</if>
        </where>
    </select>
    
    <select id="selectBorrowById" parameterType="Long" resultMap="BorrowResult">
        <include refid="selectBorrowVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBorrow" parameterType="Borrow" useGeneratedKeys="true" keyProperty="id">
        insert into borrow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="equipmentId != null">equipment_id,</if>
            <if test="equipmentName != null">equipment_name,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="returnAt != null">return_at,</if>
            <if test="examineAt != null">examine_at,</if>
            <if test="sysUserId != null">sys_user_id,</if>
            <if test="sysUserName != null">sys_user_name,</if>
            <if test="flag != null">flag,</if>
            <if test="examineFlag != null">examine_flag,</if>
            <if test="urgeReturn != null">urge_return,</if>
            <if test="realReturnAt != null">real_return_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="equipmentName != null">#{equipmentName},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="returnAt != null">#{returnAt},</if>
            <if test="examineAt != null">#{examineAt},</if>
            <if test="sysUserId != null">#{sysUserId},</if>
            <if test="sysUserName != null">#{sysUserName},</if>
            <if test="flag != null">#{flag},</if>
            <if test="examineFlag != null">#{examineFlag},</if>
            <if test="urgeReturn != null">#{urgeReturn},</if>
            <if test="realReturnAt != null">#{realReturnAt},</if>
         </trim>
    </insert>

    <update id="updateBorrow" parameterType="Borrow">
        update borrow
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="equipmentName != null">equipment_name = #{equipmentName},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="returnAt != null">return_at = #{returnAt},</if>
            <if test="examineAt != null">examine_at = #{examineAt},</if>
            <if test="sysUserId != null">sys_user_id = #{sysUserId},</if>
            <if test="sysUserName != null">sys_user_name = #{sysUserName},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="examineFlag != null">examine_flag = #{examineFlag},</if>
            <if test="urgeReturn != null "> urge_return = #{urgeReturn}</if>
            <if test="realReturnAt != null "> real_return_at = #{realReturnAt}</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBorrowById" parameterType="Long">
        delete from borrow where id = #{id}
    </delete>

    <delete id="deleteBorrowByIds" parameterType="String">
        delete from borrow where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectOverdueList" parameterType="Borrow" resultMap="BorrowResult">
        <include refid="selectBorrowVo"/>
        where user_id = #{userId} and #{return_at} > return_at
    </select>

    <select id="selectRefunsList" parameterType="Borrow" resultMap="BorrowResult">
        <include refid="selectBorrowVo"/>
        where user_id = #{userId} and (examine_flag = 2 or examine_flag = 4)
    </select>

</mapper>