<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/door/public :: header('首页')" />
</head>
<body>
<div th:block th:insert="~{/door/public :: public_static}" ></div>
<script type="text/javascript">
    $(function(){
        $("#kinMaxShow").kinMaxShow();
    });
</script>
<div class="banner">
    <div class="bannerMain">
        <div id="kinMaxShow">
            <div>
                <a href="javascript:void(0)"><img src="../../static/door/images/1.jpg"  th:src="@{/door/images/1.jpg}" /></a>
            </div>
        </div>
    </div>
</div>
<!--导航结束-->

<!--产品展示开始-->
<div class="product">
	<div class="productMain">
    	<div class="ptitle">
            <span>&nbsp;&nbsp;<a href="/user/equipment">更多>></a></span>
            <span  id="equipment_type"></span>
        </div>
        <ul id="equipment">

        </ul>
    </div>
</div>
<!--产品展示结束-->

<!--案例开始-->
<div class="anli">
	<div class="anliMain">
    	<div class="anlititle">
       		<span><a href="/user/equipment">更多>></a></span>
        </div>
        <div class="anliList">
        	<ul id="equipmentFavorite">

            </ul>
        </div>
    </div>
</div>
<!--案例结束-->

<!--新闻和联系开始-->
<div class="xwlx">
	<div class="xwlxMain">
    	<div class="newsMain">
        	<div class="ntitle"><span><a href="/user/notice/2">更多公告>></a></span></div>
            <ul id="notices">

            </ul>
        </div>
    </div>
</div>
<!--新闻和联系结束-->
<!--弹窗登陆-->
<!--遮罩层-->


<!--弹窗登陆结束-->
<script type="application/ecmascript">
    function equipment(typeId){
        $.ajax({
            type: "get",
            url: "/user/equipment/paging",
            data: {
                typeId:typeId,
                pageSize:8,
                pageNo:1
            },
            success: function(data) {
                var html = "";
                data.forEach(function(equipment, index){
                    html += '<li><a href="#"><img src="'+ equipment.path +'" width="264" height="198" /><p>'+ equipment.name +'</p></a></li>';
                })
                $("#equipment").html(html);
            }
        });
    }
    $(function(){
        //公告中心
        $.ajax({
            type: "get",
            url: "/user/notice/paging",
            data: {
                pageNo:1,
                pageSize:5
            },
            success: function(data) {
                var html = "";
                data.rows.forEach(function(notice, index){
                    html += '<li><b>·</b><a href="/user/notice/detail/'+ notice.noticeId +'">';
                    html += notice.noticeTitle ;
                    html += '</a><span>'+ notice.createTime +'</span></li>';
                })
                html += "<div class=\"clearfix\"></div>\n";
                $("#notices").html(html);
            }
        });

        //产品展示-类别
        $.ajax({
            type: "get",
            url: "/user/equipment_type/paging",
            data: {
                pageNo:1,
                pageSize:10
            },
            success: function(data) {
                var html = "";
                data.forEach(function(equipmentType, index){
                    if(index == 0){
                        equipment(equipmentType.id);
                    }
                    html += ' <a href="javascript:equipment('+equipmentType.id+')">'+ equipmentType.typeName +'</a> | ';
                })
                $("#equipment_type").html(html);
            }
        });

        $.ajax({
            type: "get",
            url: "/user/equipment/pagingFavorite",
            data: {
                pageSize:4,
                pageNo:1
            },
            success: function(data) {
                var html = "";
                data.forEach(function(equipment, index){
                    html += '<li><a href="#"><img src="'+ equipment.path +'" width="264" height="198"/></a></li>';
                })
                $("#equipmentFavorite").html(html);
            }
        });





    })

</script>


<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
</div>
</body>
</html>
