<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/door/public :: header('消息中心')" />

</head>
<body>
<div th:block th:insert="~{/door/public :: public_static}" ></div>

<!--内页详情开始-->
<div class="n_Main">
	<div class="n_left">
		<div class="n_title">
			<h3>消息中心</h3>
			<p>NOTICE CENTER</p>
		</div>
		<ul>
			<li><a href="/user/notice/2">系统公告</a></li>
			<li><a href="/user/notice/1">系统通知</a></li>
			<li><a href="/user/notice/0">消息提醒</a></li>
		</ul>


	</div>

	<div class="n_right">
		<div class="location">
			当前所在位置：<a href="/user/index">首页</a> >> 消息中心
		</div>
		<div class="n_centent">
			　　<div class="subCont"  id="notices">

				</div>
		</div>
	</div>
</div>
<!--内页详情结束-->

<script type="application/javascript">
	var pageNo = 1;
	var pageSize = 10;

    function noticePaging(noticeType){
        //通知中心
        $.ajax({
            type: "get",
            url: "/user/notice/paging",
            data: {
                pageNo:pageNo,
                pageSize:pageSize,
                noticeType: noticeType,
            },
            success: function(data) {
                var html = "";
                if(data.total > 0){
                    html += '<ul class="news_list2">';
                    data.rows.forEach(function(notice, index){
                        html += '<li> <span class="title"><a href="/user/notice/detail/'+ notice.noticeId +'" style="color:#444;font-weight:bold;">'+notice.noticeTitle+'</a></span><span class="hits"></span><br />';
                        html += '<span class="time">'+ notice.createTime +'</span>';
                    });
                    html += '</ul>'
                    if(pageNo != 1){
                        html += "<a href='javascript:previous01(\""+noticeType+"\")'><<上一页 &nbsp;&nbsp;</a>"
                    }
                    if(data.total - pageNo * pageSize > 0){
                        html += "<a href='javascript:next01(\""+noticeType+"\")'>下一页>></a>"
                    }
                    $("#notices").html(html);
				}else{
                    html += "看看其他地方吧，这里什么都没有...";
                }

            }
        });
    }

    function noticeUrge(){
        //通知中心
        $.ajax({
            type: "get",
            url: "/user/notice/borrow_urge_paging",
            data: {
                pageNo:pageNo,
                pageSize:pageSize,
            },
            success: function(data) {
                var html = "";
                if(data.total > 0){
                    html += '<ul class="news_list2">';
                    data.rows.forEach(function(borrow, index){
                        html += '<li> <span class="title"><a href="" style="color:#444;font-weight:bold;">'+ borrow.equipmentName +'——催还提醒</a></span><span class="hits"></span><br />';
                        html += '<span class="time">应还时间：'+ borrow.returnAt +'</span>';
                    });
                    html += '</ul>'
                    if(pageNo != 1){
                        html += "<a href='javascript:previous02(\""+noticeType+"\")'><<上一页</a>>"
                    }
                    if(data.total - pageNo * pageSize > 0){
                        html += "<a href='javascript:next02(\""+noticeType+"\")'>下一页>></a>"
                    }
                }else{
                    html += "看看其他地方吧，这里什么都没有...";
				}
                $("#notices").html(html);
            }
        });
    }

    function next01(noticeType){
        pageNo ++;
        noticePaging(noticeType);
	}

	function next02(){
        pageNo ++;
        noticeUrge();
	}

	function previous01(noticeType){
        pageNo --;
        noticePaging(noticeType)
	}

	function previous02(){
        pageNo --;
        noticeUrge();
	}

	$(function(){
        var noticeTypeId = '[[${noticeTypeId}]]';
		if(noticeTypeId == 0){
		    noticeUrge();
		}else{
            noticePaging(noticeTypeId);
        }
	});

</script>
</body>
</html>
