<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/door/public :: header('消息中心')" />

</head>
<body>
<div th:block th:insert="~{/door/public :: public_static}" ></div>

<!--内页详情开始-->
<div class="n_Main">
	<div class="n_left">
		<div class="n_title">
			<h3>新闻中心</h3>
			<p>NEWS CENTER</p>
		</div>
		<ul>
			<li><a href="#">消息提醒</a></li>
			<li><a href="#">系统公告</a></li>
			<li><a href="#">消息通知</a></li>
		</ul>
        
		
	</div>
	
	<div class="n_right">
		<div class="location">
			当前所在位置：首页 >> 公告
		</div>
		<div class="n_centent">
			　　<div class="subCont">
						<ul class="news_list2">
    						<li> <span class="title"><a href="xiangxi.html" style="color:#444;font-weight:bold;">新闻名称</a></span><span class="hits">点击次数：2000</span><br />
                                <span class="time">2016-07-23</span> <span class="class">分类：<a href="#">分类名称</a></span> </li>
                            <li> <span class="title"><a href="xiangxi.html" style="color:#444;font-weight:bold;">新闻名称</a></span><span class="hits">点击次数：2000</span><br />
                                <span class="time">2016-07-23</span> <span class="class">分类：<a href="#">分类名称</a></span> </li>
						</ul>
					</div>
		</div>
	</div>
</div>
<!--内页详情结束-->


<!--底部开始-->
<div class="foot">
	<p>联系电话：0816-8888888    地址：四川省绵阳市涪城区东城宜家美4楼</p>
    <p>Copyright © 2016   四川格雷能源设备有限公司   All  Rights  Reserved　蜀ICP备1508888888号-1　技术支持：<a href="http://www.zgzj.cn.com">中巨科技</a> [<a href="/manager">后台管理</a>]</p>
</div>
<!--底部结束-->
<script type="application/javascript">
	$(function(){
        //通知中心
        $.ajax({
            type: "get",
            url: "/user/notice/paging",
            data: {
                pageNo:1,
                pageSize:10
            },
            success: function(data) {
                var html = "";
                data.forEach(function(notice, index){
                    html += '<li><b>·</b><a href="/user/notice/'+ notice.noticeId +'">';
                    html += notice.noticeTitle ;
                    html += '</a><span>'+ notice.createTime +'</span></li>';
                })
                html += "<div class=\"clearfix\"></div>\n";
                $("#notices").html(html);
            }
        });
	});

</script>
</body>
</html>
