<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/door/public :: header('消息详情')" />

</head>

<body>
<div th:block th:insert="~{/door/public :: public_static}" ></div>

<!--内页详情开始-->
<div class="n_Main">
	<div class="n_left">
		<div class="n_title">
			<h3>我的清单</h3>
			<p>MY PURCHASE</p>
		</div>
		
	</div>
	
	<div class="n_right">
		<div class="location">
			当前所在位置：首页 >> 我的清单
		</div>
		<div class="n_centent">
			　　<div class="subCont">
						<ul class="news_list2" id="content">
						</ul>
					</div>
		</div>
		<div class="n_centent">
			<div class="postdiv">
				<button onclick="borrow()" style="width:140px">申请借用</button>
			</div>
		</div>
	</div>
</div>
<!--内页详情结束-->

<script type="application/javascript">

	init();
	function init(){
        $.ajax({
            type: "get",
            url: "/user/purchase/list",
            data: {

            },
            success: function(data) {
                html = "";
                $("#content").html("");
                data.forEach(function(userPurchase, index){
                    html += '<input name="purchaseId" type="hidden" value="'+userPurchase.id+'" readonly>';
                    html += '<input name="equipmentId" type="hidden" value="'+userPurchase.equipmentId+'" readonly>';
                    html += '<li style="height: 150px;"> <span class="title"><a href="xiangxi.html">' +
                        '<img src="'+ userPurchase.path +'" width="216" height="146"/>'+

                        '</a></span>' +
                        '<span class="hits"><a href="javascript:remove('+ userPurchase.id +')">移除</a></span><br />' +
                        '<span class="time">'+ userPurchase.equipmentName +'</span> ';
                    if(userPurchase.flag == 1){
                        html += '<span class="class" style="color:red">已报销</span>';
                    }
                    if(userPurchase.quantity - userPurchase.borrowQuantity <= 0){
                        html += '<span class="class" style="color:red">无库存</span>';
                    }
                    html += '<br><br><br>'
					html += '<span class="class"">'+userPurchase.startTime+'</span> -<span class="class"">'+userPurchase.endTime+'</span>';
					html += '<span class="hits"><button onclick="pre(this)" style="background: green">-</button>' +
						'<input name="borrowNum" type="number" value="1">' +
						'<button onclick="add(this,'+ userPurchase.quantity+','+ userPurchase.borrowQuantity + ' )" style="background: green">+</button></span>';
                    html +=' </li>';

                })
                $("#content").html(html);

            }
        });
	}


    function remove(id){
        $.ajax({
            type: "delete",
            url: "/user/purchase/remove",
            data: {
				id:id
            },
            success: function(data) {
                init();
            }
        });
	}

	function borrow(){
	    var ids = new Array();
	    $( "input[name='purchaseId']").each(function(){
            ids.push($(this).val())
        })

		var borrowNums = new Array();
        $( "input[name='borrowNum']").each(function(){
            borrowNums.push($(this).val())
        })

		var equipmentIds = new Array();
        $( "input[name='equipmentId']").each(function(){
            equipmentIds.push($(this).val())
        })

        var userPurchaseList = new Array();
		for(var i = 0 ; i < equipmentIds.length; i ++){
		    var userPurchase = {
		        id:Number(ids[i]),
		        equipmentId:Number(equipmentIds[i]),
				borrowNum:Number(borrowNums[i])
			};
            userPurchaseList.push(userPurchase);
		}
        var jsonData = JSON.stringify(userPurchaseList);
        $.ajax({
            type: "post",
            url: "/user/purchase/borrow",
			dataType: "json",
            contentType: "application/json;charset=utf-8",
            data: jsonData,
            success: function(data) {
                init();
            }
        });
	}

	function add(val,quantity, borrowQuantity){
        var num = $(val).prev();
        if(Number(num.val()) >= Number(quantity)-Number(borrowQuantity)){
            num.val(Number(quantity)-Number(borrowQuantity))
            return;
		}
        num.val(Number(num.val()) + 1);

    }

    function pre(val){
        var num = $(val).next();
        if(Number(num.val()) <= 1){
            num.val(1);
            return ;
		}
        num.val(Number(num.val()) - 1);
	}

</script>
</body>
</html>
